@page
@model Garage.Pages.Repairs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Repair</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Repair.RepairDate" class="control-label"></label>
                <input asp-for="Repair.RepairDate" class="form-control" />
                <span asp-validation-for="Repair.RepairDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.MileAge" class="control-label"></label>
                <input asp-for="Repair.MileAge" class="form-control" />
                <span asp-validation-for="Repair.MileAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair.Description" class="control-label"></label>
                <input asp-for="Repair.Description" class="form-control" />
                <span asp-validation-for="Repair.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">@Models.Dictionary.back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
